.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  padding-left: 4px;
}

.user-avatar:hover {
  border: none;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    left: -20px;
  }
}
